<!DOCTYPE html>
<html>
  <head>
    <!--Rosarivo font-->
    <link href="https://fonts.googleapis.com/css?family=Rosarivo:400,400i&amp;subset=latin-ext" rel="stylesheet">
    <!--Ruthie font-->
    <link href="https://fonts.googleapis.com/css?family=Ruthie&amp;subset=latin-ext" rel="stylesheet">

    <title>Artistree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--NAVBAR-->
    <div class="navbar">
        <%= image_tag("leaves_vector.svg") %>
        <div class="nav-btns">
            <% unless !user_signed_in? %>
                <p class="nav-btn"><%= current_user.email %></p>
            <% end %>
            <p class="nav-btn"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
            <p class="nav-btn"><a href="/pages/home">Home</a></p>
        </div>
    </div>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
